.service h1 {   
	color:  #000080;
  text-align: left;
  text-shadow: 3px 3px 2px #e6e6ff;
    
}
.service h2 {   
	color: #000000;
    text-align: center;       
    font-size: 30px;  
}

.service p {   
	color: #000000;
    text-align: center;
    font-size: 15px;       
}
body {
    /*background: url("../img/desk.jpg")  no-repeat center center fixed; */
	background-size: cover;
    height:100%;
    margin: 0;
    font-family: Helvetica;
}

.logo img{
	width:  100px;
    height: 60px;
    position:  center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    float: left;
}

table {
  border-collapse: collapse;
  width: 90%;  
  margin-left: 100px;
}

th, td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

tr:hover {background-color:#f5f5f5;}



.accordion {
  background-color: #eee;
  color: #000000;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 25px;
  transition: 0.4s;
  filter: alpha(opacity=70);
  opacity: .60;
}

.accordion img{
 	width:  30px;
    
}

.active, .accordion:hover {
  background-color: #ccc;
  filter: alpha(opacity=70);
  opacity: .80;
}

.accordion:after {
  content: '\002B';
  color: #000000;
  font-weight: bold;
  float: right;
  margin-left: 5px;

}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: none;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  text-align: center;  
}

.panel1 {
  padding: 0 18px;
  background-color: none;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  text-align: left;  
}

